{% extends 'base.html' %}
    {% block titulo %}
        <title>vista_about</title>
    {% endblock titulo %}

    {% block contenido %}
    <div class="nombre-user">
        <h1>Bienvenido</h1>
        <h1 class="">{{ request.user.username }}</h1>
    </div>   
        {% for n in noticias %}        
            <header class="container-about">                                 
                    <div class="video-container">
                        <video autoplay controls src="/media/{{ n.video }}"></video>                                      
                    </div> 
                    <div class="descripcion-container">
                        <h2>{{ n.nombre }}</h2> 
                        <p>{{ n.descripcion }}</p>                                     
                    </div>  
            </header>            
        {% endfor %} 
          
    {% endblock %}
   