{% extends 'base.html' %}

    {% block titulo %}
    <title>Contacto</title>
    {% endblock titulo %}

    {% block contenido %}
    <h1>Ponte en contacto con nosotros y dejanos saber tus sugerencias</h1>
    {% if info_enviado %}
    <h2>La informacion suministrada es</h2>
        {{ email }}
        {{ title }}
        {{ text }}
    {% else %}
        <form action="" method="POST" class="form-cont">
            {% csrf_token %}
            <p>{{ formulario.as_p }}</p>
            <input type="submit" value="Enviar" class="btn btn-primary">
        </form>
    {% endif %}


    {% endblock %}