{% extends 'base.html' %}

    {% block contenido %}
    <h1>Iniciar Sesión</h1>
    {% if msj %}
        <h5>{{ msj }}</h5>
        {% else %}
            <form action="" method="POST" class="form-cont" id="form-iniciar-sesion">
                {% csrf_token %}
                <p>{{ formulario.as_p }}</p>
                <p><input type="submit" value="Iniciar Sesión" class="btn btn-primary"></p>
                <p ><a href="{% url 'vista_register' %}">Registrarse</a></p>
            </form>
    {% endif %}

{% endblock %}