{% extends 'base.html' %}
{% block contenido %}
        <h1>Ultimas noticias</h1>
        <a href="{% url 'vista_agregar_noticia' %}" class="btn btn-primary">Agregar Noticia</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
                {% for n in noticias %}
                    <tr>
                        <td>{{ n.id }}</td>
                        <td>{{ n.nombre }}</td>
                        <td>{{ n.descripcion }}</td>
                        <td>                            
                            <a href="{% url 'vista_ver_noticia' id_noticia=n.id %}" class="btn btn-info">Ver</a>        
                            <a href="{% url 'vista_eliminar_noticia' id_noticia=n.id %}" class="btn btn-danger">Eliminar</a>        
                            <a href="{% url 'vista_editar_noticia' id_noticia=n.id %}" class="btn btn-warning">Editar</a>        
                                                

                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    {% endblock contenido%}