{% extends 'base.html' %}

    {% block contenido %}
    <div class="detalle">
        <h1>{{ detalle.nombre }}</h1>
        <video class="video-cont" autoplay controls src="/media/{{ a.video}}" ></video>
        <h2>DESCRIPCION</h2>
        <p class="foto">                   
            <img src="/media/{{ a.foto }}"  alt="">
        </p>
        <p>{{ detalle.descripcion }}</p>  
        <a class="btn btn-warning" href="{% url 'vista_lista_animales' %}">Regresar a Animales</a>
    </div>
    
    {% endblock contenido %}